@font-face {
    font-family: "Arquitecta";
    src: url('/src/assets/fonts/Arquitecta.otf');
}
* {
    font-family: "Arquitecta";
}

header{
    background-color: #1D95D3;
}

nav a {
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 25px;
    position: relative;
    z-index: 2;
    text-decoration: none;
    text-align: center;
    color: white;
    transition: color .5s;
    cursor: pointer;

    @media(max-width: 450px) {
            flex-flow: column wrap;
            width: 95px;
            font-size: 20px;
        }


}

nav a:hover{
    color: #fcbd07;
}






//Waves

.waves {

    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('https://lh3.googleusercontent.com/drive-viewer/AFGJ81rRsOSD-q_WQYvU2n_MF-sMuAzaiW99u7sh1ZQRdIqndrb5_N_zkdp8kBJDlyvroKHnP_w7vpt14hRceGxLmdqr1jzb=w1920-h929');
    background-size: 1000px 100px;
    animation: wave 3s linear infinite;
}



@keyframes wave {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 1000px;
    }
}

