
    

   

        <div class="row justify-content-center">
            
            
            <nav class="text-center">
                <br>
                <a class="nav-item" href="/home">Home</a> 
                <a class="nav-item" href="/team">Team</a>
                <a class="nav-item" href="/portafolio">Portafolio</a>
                <a class="nav-item" href="/contact">Contact</a>
            </nav>
            

        </div>
        <div class="container">
        
            <div class="waves">
                <br><br> <br>
                <br>
                <div class="wave">
        
                </div>
            </div>
        </div>



