
    

   

        <header >
            
            
            <nav class="text-center">
                <br>
                <a href="/home">Inicio</a> 
                <a href="/team">Equipo</a>
                <a href="/portafolio">Portafolio</a>
                <a href="/contact">Contacto</a>
                
            </nav>
                    <div class="container">
                        <div class="waves">
                    
                            <div class="wave">
                    
                            </div>
                        </div>
                    </div>
        </header>



