* {
    font-family: "Arquitecta", sans-serif;
}

// nav {
//     margin-top: 1%;
//     position: relative;
//     background-color: #FCBD07;
//     border-radius: 50px;
//     @media(max-width: 450px) {
//             margin-top: 40px;
//             flex-flow: column wrap;
//         }

//     z-index: 2;
// }

nav{
    background-color: #1D95D3;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 2;
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
    width: 100px;

    @media(max-width: 450px) {
            flex-flow: column wrap;
            width: 90px;
        }
}






h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #000000;
}


