* {
    font-family: "Arquitecta", sans-serif;
}

nav {
    margin-top: 1%;
    position: relative;
    background-color: #FCBD07;
    border-radius: 50px;
    @media(max-width: 450px) {
            flex-flow: column wrap;
            /*4*/
        }

    z-index: 2;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 2;
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 100px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 100px;
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #000000;
}


