<!-- <div class="waves-back">

    <iframe class="frame-back" src="https://streamable.com/e/zxcjcw?autoplay=1&nocontrols=1" frameborder="0"
        width="100%" height="100%" allowfullscreen allow="autoplay"></iframe>

</div> -->


<section class="portafolio">
    <br>

<div class="wrapper-columns">

    <div class="columns text-center">

        <div class="column">
           <br>
            <h1 style="font-size: 70px;">Portafolio</h1>
            <br><br>
            

        </div>
        <div class="column">
         
            <h1 style="font-size: 70px;"></h1>
         
        
        
        </div>

        <div class="column">
            
                <div class="max-logo text-center">


                    <img src="./assets/img/Onspace_name.png"
                        class="figure-img img-fluid rounded texte-center"
                        alt="A generic square placehol  der image with rounded corners in a figure.">
                </div>
            

        </div>

    </div>

</div>
    

        <div class="wrapper-portafolio">
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

</section>