<div class="waves-back">

    <iframe class="frame-back" src="https://streamable.com/e/zxcjcw?autoplay=1&nocontrols=1" frameborder="0"
        width="100%" height="100%" allowfullscreen allow="autoplay"></iframe>

</div>


<section class="portafolio">
    <br>

<div class="wrapper-columns">

    <div class="columns">

        <div class="column">
            <br><br><br><br><br>
            <h1 style="font-size: 70px;">Portafolio</h1>
            <br><br>
            

        </div>

        <div class="column">
            <figure class="figure">
                <div class="text-center">


                    <img src="https://rjbkomtzdjbzhdfrqjgm.supabase.co/storage/v1/object/public/prueba%20x2/Onspace%20with%20name.png"
                        class="figure-img img-fluid rounded texte-center"
                        alt="A generic square placehol  der image with rounded corners in a figure.">
                </div>
            </figure>

        </div>

    </div>

</div>
    

        <div class="wrapper-portafolio">
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                            <div class="inner">
                                <p>Nombre del portafolio</p>
                                <span>Compania</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae
                                    suscipit c.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

</section>