

<section class="portafolio">
    <br>

<div class="wrapper-columns">

    <div class="columns text-center">

        <div class="column">
           <br>
            <h1 style="font-size: 70px;">Portafolio</h1>
            <br><br>
            

        </div>
        <div class="column">
         
            <h1 style="font-size: 70px;"></h1>
        
        </div>

        <div class="column">
            
                <div class="max-logo text-center">


                    <img src="./assets/img/Logo_Onspace.png"
                        class="figure-img img-fluid rounded texte-center"
                        alt="A generic square placehol  der image with rounded corners in a figure.">
                </div>
            

        </div>

    </div>

</div>
    

        <div class="wrapper-portafolio">
            <div class="cols">
                <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container-portafolio" *ngFor="let Portfolio of portfolio">
                        <div class="front" style="background-image: url({{Portfolio.cover_page}})">
                            <div class="inner">
                                <p>{{Portfolio.name}}</p>
                                <span>{{Portfolio.companyId}}</span>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p>{{Portfolio.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    

</section>