 @font-face {
     font-family: "Arquitecta";
     src: url('../../../../../assets/fonts/Arquitecta.otf');
 }
 @font-face {
     font-family: "Arquitecta Black";
     src: url('../../../../../assets/fonts/ArquitectaBlack.otf');
 }

 @font-face {
     font-family: "Montserrat Bold";
     src: url('../../../../../assets/fonts/Montserrat-Bold.ttf') format("truetype");
 }
 * {
     font-family: "Arquitecta";
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
 }

 h1 {
     font-size: 40px;
 }

 //Columns

 .wrapper-columns {
     padding: 5px;
     max-width: 1200px;
     width: 95%;
     margin: 20px auto;
 }


 .columns {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     margin: 5px 0;
 }

 .column {
     flex: 1;
     margin: 2px;
     padding: 10px;

     &:first-child {
         margin-left: 0;
     }

     &:last-child {
         margin-right: 0;
     }

 }


 @media screen and (max-width: 980px) {
     .columns .column {
         margin-bottom: 5px;
         flex-basis: 40%;

         &:nth-last-child(2) {
             margin-right: 0;
         }

         &:last-child {
             flex-basis: 100%;
             margin: 0;
         }
     }
 }

 @media screen and (max-width: 680px) {
     .columns .column {
         flex-basis: 100%;
         margin: 0 0 5px 0;
     }
 }

//Contact

 .contact {
     background-color: #E8E7E7;
 }

form {
    max-width: 420px;
    margin: 50px auto;

    @media (max-width: 450px) {
        flex-flow: column wrap;
        max-width: 320px;
    }
}

.feedback-input {
    color: black;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #FCBD07;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;


}

.feedback-input:focus {
    border: 2px solid #1D95D3;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}


[type="submit"] {
    width: 100%;
    background: #FCBD07;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #1D95D3;
}

//Text

.caption {
    line-height: 80px;
    font-size: 60px;
    font-weight: 1000;
    color: #1D95D3;
    font-family: "Arquitecta Black";
    @media (max-width: 992px) {
            flex-flow: column wrap;
            line-height: 70px;
            font-size: 45px;
    
        }

}

.text-box {
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 1000;
    color: #fcbd07;


}

.btn-form {
    border-radius: 60px;
    border: none;
    border-color: #E8E7E7;
    // box-shadow: 10px 5px 5px rgb(0, 0, 0);
    background-color: #1D95D3;
    justify-content: center;
    position: relative;

    @media (max-width: 550px) {
        flex-flow: column wrap;
        font-size: 45px;
        justify-content: center;
    }
}

.btn-form:hover {
    background-color: #FCBD07;
}

.text_button {
    color: #E8E7E7;
    font-size: 60px;
    margin: 2px 15px;
    font-weight: 500;

    @media (max-width: 992px) {
            flex-flow: column wrap;
            font-size: 50px;
    
        }
}

.text_button:hover{
    color: #E8E7E7;
}