<div class="waves-back">

    <iframe class="frame-back" src="https://streamable.com/e/zxcjcw?autoplay=1&nocontrols=1" frameborder="0"
        width="100%" height="100%" allowfullscreen allow="autoplay"></iframe>

</div>



<section class="contact">
    <br><br>
    <h1 class="text-center">Contacto</h1> <br>

    <form [formGroup]="ContactForm">
        <input name="name" type="text" class="feedback-input" placeholder="Name" #name/>
        <input name="email" type="text" class="feedback-input" placeholder="Email" #email/>
        <input name="number" type="number" class="feedback-input" placeholder="Phone Number" #number/>
        <textarea name="message" type="text" class="feedback-input" placeholder="Message" #message></textarea>
        <input type="submit" value="SUBMIT" (click)="sendEmail(name.value, email.value, number.value, message.value)"/>
    </form>

</section>