
<section class="footer-section">
    <br>
    <div class="wrapper-columns">
    
        <div class="columns text-center ">

            <div class="column">
                <figure class="figure">
                    <div class="max-logo text-center">
                        <img src="https://lh3.googleusercontent.com/drive-viewer/AFGJ81rtW2oEmUYcjhNkZdUwvFrVHY1bYL4wlIAPZB7cGqZBQF4CJwDSWp47klMYMLYIQ0y-i2b2ZVR_kOVyr__2dOlTF0ff=w1920-h929"
                            class="figure-img img-fluid rounded"
                            alt="logo">
                    </div>
                </figure>
            
            </div>
    
            <div class="column">
                <div class="mini-nav text-center">
                    <b>
                    <a href="/home">Home</a> <br>
                    <a href="/team">Team</a><br>
                    <a href="/portafolio">Portafolio</a><br>
                    <a href="/contact">Contacto</a>
                    </b>

                </div>
            

            </div>
    
            

            <div class="column">
                <b>
                <p class="text" style="margin: 10% auto">"Expande tu marca hasta el universo"</p></b>
            </div>
    
        </div>
    
    </div>
    

<div class="container d-flex justify-content-center m-auto">
<ul class="wrapper">
    <a href="https://www.facebook.com/profile.php?id=100092483145253" target="_blank">
    <li class="icon facebook">
        <span class="tooltip">Facebook</span>
        <img src="./assets/img/Social-media/facebook.svg" alt="">
    </li>
    </a>
    <li class="icon twitter">
        <span class="tooltip">Twitter</span>
        <img src="./assets/img/Social-media/twitter.svg" alt="">
    </li>
    <a href="https://www.instagram.com/onspaceagency/" target="_blank">
    <li class="icon instagram">
        <span class="tooltip">Instagram</span>
    <img src="./assets/img/Social-media/instagram.svg" alt="">
    </li>
    </a>

    <a href="https://wa.me/18492652584" target="_blank">
        <li class="icon whatsapp">
            <span class="tooltip">Whatsapp</span>
        <img src="./assets/img/Social-media/whatsapp.svg" alt="">
        </li>
    </a>
    <li class="icon tiktok">
        <span class="tooltip">Tiktok</span>
        <img src="./assets/img/Social-media/tiktok.svg" alt="">
    </li>
</ul>
</div>
<br>
   <b> <p class="text-center text" style="font-size: 20px;">© Todos los derechos reservados</p></b>

<br>
</section>
