
<section class="footer-section">
    <br>
    <div class="wrapper-columns">
    
        <div class="columns text-center ">

            <div class="column">
                <figure class="figure">
                    <div class="max-logo text-center">
                        <img src="./assets/img/Onspace_wave.png"
                            class="figure-img img-fluid rounded"
                            alt="A generic square placeholder image with rounded corners in a figure.">
                    </div>
                </figure>
            
            </div>
    
            <div class="column">
                <div class="mini-nav text-center">
                    <b>
                    <a href="/home">Home</a> <br>
                    <a href="/team">Team</a><br>
                    <a href="/portafolio">Portafolio</a><br>
                    <a href="/contact">Contact</a>
                    </b>

                </div>
            

            </div>
    
            

            <div class="column">
                <b>
                <p class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit elementum, dictum
                    porttitor sed morbi laoreet aliquam cras nostra
                    tincidunt</p></b>
            </div>
    
        </div>
    
    </div>
    

<div class="container d-flex justify-content-center m-auto">
<ul class="wrapper">
    <li class="icon facebook">
        <span class="tooltip">Facebook</span>
        <span><i class="bi bi-facebook-f"></i></span>
    </li>
    <li class="icon twitter">
        <span class="tooltip">Twitter</span>
        <span><i class="bi bi-twitter"></i></span>
    </li>
    <li class="icon instagram">
        <span class="tooltip">Instagram</span>
        <span><i class="bi bi-instagram"></i></span>
    </li>

    <a href="https://wa.me/18492652584">
        <li class="icon whatsapp">
            <span class="tooltip">Whatsapp</span>
            <span><i class="bi bi-whatsapp"></i></span>
        </li>
    </a>
    <li class="icon tiktok">
        <span class="tooltip">Tiktok</span>
        <span><i class="bi bi-tiktok"></i></span>
    </li>
</ul>
</div>
<br>
   <b> <p class="text-center text" style="font-size: 20px;">© Todos los derechos reservados</p></b>

<br>
</section>
